<nav class="navbar navbar-expand-lg modern-navbar">
    <div class="container">
        <a class="navbar-brand fw-bold" href="#">Coursevault</a>
        <!-- <p>Hi {{username.fullName}}</p> -->

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navMenu">
            <ul class="navbar-nav gap-4">
                <li class="nav-item">
                    <button (click)="toDashboard()" class="nav-link" href="void:javascript(0)">Dashboard</button>
                </li>
                <li class="nav-item">
                    <button (click)="toBatch()" class="nav-link" href="void:javascript(0)">Batch</button>
                </li>
                <li class="nav-item">
                    <button (click)="toProfile()" class="nav-link" href="void:javascript(0)">My Profile</button>
                </li>
                <li class="nav-item">
                    <button (click)="logOff()" class="nav-link btn-nav" href="#">Logoff</button>
                </li>
            </ul>
        </div>
    </div>
</nav>





<router-outlet />